@font-face {
  font-family: iransens;
  src: url('./assets/fonts/IRS.ttf');
  background-color: rgb(16, 167, 255);
}

body {
  font-family: iransens;
  direction: rtl;
}

* {
  transition: .2s all;

}

.active {
  background-color: oklch(70.7% 0.022 261.325);
  color: white;
}

* {
  user-select: none;
}

table {
  tr {
    th {
      font-size: small !important;
    }

    td {
      font-size: smaller;
    }

    /* border-bottom: 1px solid grey; */
    &:last-child,
    &:first-child {
      border-bottom: 0;
    }
  }
}

input {
  outline: none;
}

.modal {
  background-color: #3333334d;
}

.cats {
  min-height: 400px;

  >ul {
    max-height: 250px;
    overflow-y: scroll;
    width: 45% !important;

    ul {
      width: 99% !important;
    }

    &>li {
      position: sticky;
      top: 0;
    }

    &>::-webkit-scrollbar {
      width: 5px;
      background-color: red;
      display: none;
    }
  }
}

@keyframes init {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

.productModifier {
  animation: init .2s linear;

  button {
    font-family: initial;
  }

  label {
    font-size: 13px !important;
  }
}