@font-face {
  font-family: iransens;
  src: url('./assets/fonts/IRS.ttf');
  background-color: rgb(16, 167, 255);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  direction: rtl;
  font-size: small !important;
}

* {
  transition: .2s all;

}



.active {
  background-color: oklch(70.7% 0.022 261.325);
  color: black;
}

* {
  user-select: none;
}

table {
  tr {
    th {
      font-size: small !important;
    }

    td {
      font-size: smaller;
    }

    /* border-bottom: 1px solid grey; */
    &:last-child,
    &:first-child {
      border-bottom: 0;
    }
  }
}

input {
  outline: none;
  ::placeholder{
    color: gray !important;
  }
}

.modal {
  background-color: #3333334d;
}

.cats {
  min-height: 400px;

  >ul {
    max-height: 250px;
    overflow-y: scroll;
    width: 45% !important;

    ul {
      width: 99% !important;
    }

    &>li {
      position: sticky;
      top: 0;
    }

    &>::-webkit-scrollbar {
      width: 5px;
      background-color: red;
      display: none;
    }
  }
}

@keyframes init {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

.productModifier {
  animation: init .2s linear;

  button {
    font-family: initial;
  }

  label {
    font-size: 13px !important;
  }
}

.list {
  font-size: 14px !important;

  tr {
    text-wrap: no-wrap !important;

  }
}

/* ul {
  border: 0 !important;
  border-right: 1px black dotted !important;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  padding: 0 !important;

  li {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0 !important;
    list-style-type: square !important;
    margin-right: 5px !important;
    border: none !important;
    font-size: 12px !important;
    padding: 0 !important;

    :hover {
      background: gray;
    }
  }
} */