@font-face {
  font-family: iransens;
  src: url('./assets/fonts/IRS.ttf');
  background-color: rgb(16, 167, 255);
}

body {
  font-family: iransens;
  direction: rtl;
}

* {
  transition: .2s all;

}

.active {
  background-color: oklch(70.7% 0.022 261.325);
  color: white;
}
*{
  user-select: none;
}
table{
  tr{
    th{
      font-size: small !important;
    }
    td{
      font-size: smaller;
    }
    /* border-bottom: 1px solid grey; */
    &:last-child,&:first-child{
      border-bottom: 0;
    }
  }
}