name: "build"
on: 
  push:
    branches: [master]
jobs:
  builder:
    runs-on: ubuntu-latest
    steps:
      - name: build
        uses: actions/checkout@v4
      - name: setup nodejs
        uses: actions/setup-node@v4
      - name: cache
        if: success()
        uses: actions/cache@v4
        with:
          path: node_modules
          key: npm-${{ hashFiles('package-lock.json') }}
      - name: install packages
        run: npm install --save
      - name: build
        if: success()
        run: CI=false npm run build
      - name: add to gh branch
        if: success()
        run: git checkout -b gh ; git add  build;git config --global user.name parham-snk ; git config --global user.email psanjanaki@gmail.com;git commit -m "new build";git push https://github.com/parham-snk/eccounting-resume gh
